@media screen and (min-width:600px) {
html, body{
    margin-right: auto;
    margin-left: auto;
    background-image: url(bgs.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#logo {
    position: relative;
    padding-top:1vw ;
    width: 10vw;
    margin-left: 4vw;
    display: block;
 
}


.sets {
    padding-left: 16%;
    padding-right: 13%;
}

.hide {
    display: none;
}



.crd {
    place-content: center;
    padding: 0.5vw;
    transition: 0.3s;
    width: 143px;
    image-rendering: auto;

}

.crd:hover {
    filter: brightness(2);
    cursor: pointer;
}

#crds {
    position: absolute;
    height: 600px;
    left: 1.5vw;
    bottom: 2.35vw;
    
    
}

#popup {
    display: none;
    position: absolute;
    bottom: 12.3%;
    left: 20%;
    z-index: 999;
    animation: none;
    animation-duration: none;
    animation-fill-mode: none;

}

@keyframes fdin {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#bgss {
    position: fixed;
    display: none;
    bottom: -0.5%;
    opacity: 0.8;
    z-index: 998;
    
}



#txtbox {
    position: absolute;
    height: 35vw;
    left: 20%;
    bottom: 12.3%;
    width: 60vw;
    background: rgb(13, 20, 59);
    margin-top:-50vw;
    place-self: center;
    opacity: 0.85;
    margin-top: -38vw;
}

#txtbox2 {
    display: block;
    position: absolute;
    height: 35vw;
    left: 100%;
    bottom: 12.3%;
    width: 60vw;
    background: rgb(0, 0, 0);
    margin-top:-50vw;
    place-self: center;
    opacity: 0.85;
    margin-top: -38vw;
}

}
@media screen and (max-width:599px) {
  body{
    margin: 0 auto;
    background-image: url(bgs2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    
}

.logos{
  display: block;
  width: 30vw;
  margin-left: 3.5vw;
  margin-top: 2.5vw;
}

.sets{
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 5vw;
}

.crd {
    place-content: center;
    padding: 0.5vw;
    transition: 0.3s; 
    width: 21vw;
}

.crd:hover {
    filter: brightness(2);
    cursor: pointer;
}



#crds {
    position: fixed;
    width: 40vw;
    bottom: 90vw;
    margin-left: 30vw;
    margin-right: 30vw;
    z-index: 3;
    
    
}

#bgss {
    position: fixed;
    display: none;
    bottom: -0.6%;
    opacity: 0.8;
    z-index: 1;
    
}

#qty, #txtbox {
    animation: fdin;
    animation-duration: 0.3s;
    animation-fill-mode: both;
    z-index: 1;
}

#popup{
    display: none;
}

#txtbox {
    display: none;
    position: fixed;
    width: 80vw;
    height: 120vw;
    bottom: 37vw;
    left: 10vw;
    right: 10vw;
    background: rgb(13, 20, 59);
    opacity: 0.85;
    z-index: 2;
    
    
}

#qty{
    font-family: 'Times New Roman', Times, serif;
    bottom: 60vw;
    position: fixed;
    left: 15vw;
    right: 15vw;
    font-size: 5vw;
    width: 70vw;
    color: white;
    text-align: center;
    z-index: 3;
}

@keyframes fdin {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
}
