@media screen and (min-width:600px) {
html, body{
    margin-right: auto;
    margin-left: auto;
    background-image: url(bgs.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#logo {
    position: relative;
    padding-top:1vw ;
    width: 10vw;
    margin-left: 4vw;
    display: block;
 
}


.sets {
    padding-left: 16%;
    padding-right: 13%;
}

.hide {
    display: none;
}



.crd {
    place-content: center;
    padding: 0.5vw;
    transition: 0.3s;
    width: 143px;
    image-rendering: auto;

}

.crd:hover {
    filter: brightness(2);
    cursor: pointer;
}

#crds {
    position: absolute;
    height: 600px;
    left: 1.5vw;
    bottom: 2.35vw;
    
    
}

#popup {
    display: none;
    position: absolute;
    bottom: 12.3%;
    left: 20%;
    z-index: 999;
    animation: none;
    animation-duration: none;
    animation-fill-mode: none;

}

@keyframes fdin {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#bgss {
    position: fixed;
    display: none;
    bottom: -0.5%;
    opacity: 0.8;
    z-index: 998;
    
}



#txtbox {
    position: absolute;
    height: 35vw;
    left: 20%;
    bottom: 12.3%;
    width: 60vw;
    background: rgb(13, 20, 59);
    margin-top:-50vw;
    place-self: center;
    opacity: 0.85;
    margin-top: -38vw;
}

#txtbox2 {
    display: block;
    position: absolute;
    height: 35vw;
    left: 100%;
    bottom: 12.3%;
    width: 60vw;
    background: rgb(0, 0, 0);
    margin-top:-50vw;
    place-self: center;
    opacity: 0.85;
    margin-top: -38vw;
}

}
@media screen and (max-width:599px) {
  body{
    margin: 0 auto;
    background-image: url(bgs2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    
}

.logos{
  display: block;
  width: 20vw;
  margin-left: 3.5vw;
  padding-top: 2vw;
}

#tsph{
  position: absolute;
  width: 20vw;
  margin-left: 76vw;
  margin-top: -8.5vw;
}


.sets{
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 5vw;
    columns: 3;
}

.crd {
    place-content: center;
    padding: 1vw;
    transition: 0.3s; 
    width: 21vw;
}

.crd:hover {
    filter: brightness(2);
    cursor: pointer;
}



#crds {
    display: block;
    position: fixed;
    width: 40vw;
    margin-top: 4vw;
    margin-left: 20vw;
    z-index: 3;
    
    
}

#bgss {
    display: none;
    top: 0vw;
    position: fixed;
    height: 100vw;
    width: 100vw;
    opacity: 0.4;
    z-index: 1;
    
}

#qty, #txtbox {
    animation: fdin;
    animation-duration: 0.3s;
    animation-fill-mode: both;
    z-index: 1;
}

#popup{
    display: none;
    position: fixed;
    height: 130vw;
    width: 80vw;
    margin-top: -280vw;
    margin-left: 10vw;
    z-index: 2;
}

#txtbox {
    display: none;
    position: fixed;
    width: 80vw;
    height: 130vw;
    margin-top: -1vw;
    left: 10vw;
    right: 10vw;
    background: rgb(0, 0, 0,80%);
    border-radius: 5%;
    z-index: 2;
    
    
}

#mem{
    font-family: 'helvetica';
    position: fixed;
    font-size: 6vw;
    width: 70vw;
    top: 85vw;
    margin-left: 5vw;
    height: 35vw;
    color: white;
    text-align: center;
    z-index: 3;
    text-transform: uppercase;
}

#ttl{
    font-family: 'helvetica';
    position: fixed;
    font-size: 3vw;
    width: 70vw;
    top: 97vw;
    margin-left: 5vw;
    height: 35vw;
    color: white;
    text-align: center;
    z-index: 3;
    text-transform: uppercase;
}

#qty{
    font-family: 'helvetica';
    position: fixed;
    font-size: 3vw;
    width: 70vw;
    top: 105vw;
    margin-left: 5vw;
    height: 35vw;
    color: white;
    text-align: left;
    z-index: 3;
    overflow: hidden;
    overflow-y: scroll;
}

@keyframes fdin {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
}
