html, body{
    margin-right: auto;
    margin-left: auto;
    background-image: url(bgs.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#logo {
    position: relative;
    padding-top:15vw ;
    width: 40vw;
    display: block;
    margin-right: auto;
    margin-left: auto;
    animation: none;
    animation-duration: 0;
    animation-fill-mode:none;
}


.intro{
    
    display: block;
    text-align: center;
}

#btn1 {
    margin-top: 0%;
    display: block;
    width: 40vw;
    margin-right: auto;
    margin-left: auto;
    transition: 0.3s;

}

#btn1:hover {
  width: 45vw;
}



#btn2 {
    margin-top: -40.5%;
    display: none;
    width: 40vw;
    margin-right: auto;
    margin-left: auto;

}

#load{
  width: 5vw;
}

#loading {
    position: fixed;
    padding: 0;
    left: 47%;
    display: none;
    animation:spin 1s infinite  ;
}



@keyframes spin { 
   
    to { 
        transform:rotate(180deg); 
        
    } 
  }







@media  (max-width:450px) {
html, body{
    margin-right: auto;
    margin-left: auto;
    padding: 0;

}

#logo {
    padding-top:80vw ;
    width: 70vw;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
}

.intro{
    display: block;
    text-align: center;
}

#btn1 {
    align-items: center;
}

