
html, body{
    margin-right: auto;
    margin-left: auto;
    background-image: url(bgs.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#logo {
    position: relative;
    padding-top:1% ;
    width: 10%;
    margin-left: 1%;
    display: block;
    animation: none;
    animation-duration: 0;
    animation-fill-mode:none;
}

#fom {
  position: absolute;
  display: block;
  left: 59.5%;
  top: 60%;
}


/*@keyframes slideup { 
  from {
    transform: translate(0vw,0vw);
    
  }
  to {
    transform: translate(0vw,-15vw);
    width: 20vw;
  }
    
  }*/




.popup {
    display: block;
    margin-top: 3.25%;
    margin-left: 25%;
    height: 30%;
    width: 20%;
    align-content: center;
    text-align: center;


}

#crd{
    display: none;
    width: 90%;
    margin-top: 0%;
    animation: slideleft;
    animation-duration: 3s;
    animation-fill-mode: both;
    box-shadow: 10%;
}


#pptxt {
  display: none;
  width: 150%;
  height: 20%;
  margin-top: -90%;
  margin-left: 111%;
  font-family: Georgia;
  font-size: 50px;
  color: aliceblue;
  animation: fade;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  
}


@keyframes fade {
  from {
      opacity: 0;
  }
  to {
     opacity: 1;
  }
}

@keyframes slideleft {
  0% {
      margin-left: 10%;
      opacity: 0;
      transform: rotate(0deg);
  }
  100% {
     margin-left: 0%;
     opacity: 1;
     transform: rotate(-10deg);
  }
}



/*#crd {
    display: none;
    height: 30vw;
    margin-right: auto;
    margin-top: 0%;
    animation: slideleft;
    animation-duration: 3s;
    animation-fill-mode: both;
}


#pptxt {
  display: none;
  width: 40vw;
  height: 30vw;
  margin-top: -30.9%;
  background: rgba(39, 26, 87, 0.6) ;
  margin-left: 45vw;
  align-content: center;
  text-align: center;
  font-size: 4vw;
  color: aliceblue;
  animation: fade;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  
}

@keyframes fade {
  from {
      opacity: 0;
  }
  to {
     opacity: 1;
  }
}

@keyframes slideleft {
  from {
      margin-left: 55vw;
      opacity: 0;
  }
  to {
     margin-left: 23vw;
     opacity: 1;
  }
}
*/



@media screen and (max-width:1024px) {



#logo {
    position: relative;
    padding-top:1% ;
    width: 30%;
    margin-left: 1%;
    display: block;
    animation: none;
    animation-duration: 0;
    animation-fill-mode:none;
}


.intro{
    display: block;
    text-align: center;
}



.popup {
    display: block;
    margin-top: 50%;
    margin-left: 13%;
    height: 30%;
    width: 60%;
    align-content: center;
    text-align: center;


}

#crd{
    display: none;
    width: 48%;
    margin-top: 0%;
    animation: slideleft;
    animation-duration: 3s;
    animation-fill-mode: both;
    box-shadow: 10%;
}

#pptxt {
  display: none;
  width: 60%;
  height: 30%;
  margin-top: -50%;
  margin-left: 60%;
  font-family: Georgia;
  font-size: 16px;
  color: aliceblue;
  animation: fade;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  
}

#fom {
  font-size: 7px;
  position: absolute;
  display: block;
  left: 43.5%;
  top: 57%;
}



}
