@media screen and (min-width:600px) {
body{
    margin: 0 auto;
    background-image: url(bgs.png);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.logos{
  
  display: block;
  width: 15vw;
  margin-left: 2vw;
  margin-top: 1.5vw;
}

.popup {
    
    display: block;
    position: relative;
    height: 35vw;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    
    
}

#suki{
    animation: fade;
    animation-duration: 1.5s;
    animation-fill-mode: both;
}

.cardcontainer{
  margin-top: 5vw;
  margin-left:10.5vw;
}

#crdbck{
    margin-left: 26.25vw;
    background-size: cover;
    position: absolute;
    height:25vw;
    width: 15.625vw;
    animation: back;
    animation-delay: 3.4s;
    animation-duration: 1.3s;
    animation-fill-mode: both;
    z-index: 2;
}


#crd{
    z-index: 1;
    margin-left: 26.25vw;
    background-size: cover;
    position: absolute;

    height:25vw;
    width: 15.625vw;
    animation: front;
    animation-delay: 3.4s;
    animation-duration: 1.3s;
    animation-fill-mode: both;
    
    
}

#pptxt{
  display: none;
  color: aliceblue;
  position: absolute;
  width: 50vw;
  display: block;
  font-size: 3vw;
  margin-top: 5vw;
  margin-left:25vw;
  justify-self: center;
  text-align: center;
  animation: fades;
  animation-duration: 2s;
  animation-delay: 5s;
  animation-fill-mode: both;
}

#fom{
  display: none;
  position: absolute;
  width: 40vw;
  margin-top: -20vw;
  margin-left: 42.7vw;
  margin-right: 10vw;
  opacity: 0.5;
  animation: fades;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: both;
}

#fom:hover{
  opacity: 1;
}




@keyframes back {
0%{
    margin-left: 26.25vw;
    opacity: 1;
}

50% {
    margin-left: 36.375vw;
}

100%{
  transform: rotate(5deg);
  margin-left:7vw;
}
    
}     


@keyframes front {
    0% {
      margin-left: 26.25vw;
    }
    
    50% {
      margin-left: 11.125vw;
    }
   
    100%{
      transform: rotate(-10deg);
      z-index: 3;
      margin-left:2vw;
    }
    }

  @keyframes fade {
  from {
      opacity: 0;
  }
  to {
     opacity: 1;
  }
}

@keyframes fades {
  from {
      opacity: 0;
  }
  to {
     opacity: 1;
  }
}

}


@media screen and (max-width:599px) {
  body{
    margin: 0 auto;
    background-image: url(bgs2.png);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.logos{
  display: block;
  width: 30vw;
  margin-left: 3.5vw;
  margin-top: 2.5vw;
}

.popup {
    
    display: block;
    position: relative;
    height: 100vw;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    
    
}

#suki{
    animation: fade;
    animation-duration: 1.5s;
    animation-fill-mode: both;
}

.cardcontainer{
  margin-top: 10vw;
}

#crdbck{
    margin-left: 26.25vw;
    background-size: cover;
    position: absolute;
    height:60vw;
    width: 37.5vw;
    animation: back;
    animation-delay: 3.4s;
    animation-duration: 1.3s;
    animation-fill-mode: both;
    z-index: 2;
}


#crd{
    z-index: 1;
    margin-left: 26.25vw;
    background-size: cover;
    position: absolute;
    height:60vw;
    width: 37.5vw;
    animation: front;
    animation-delay: 3.4s;
    animation-duration: 1.3s;
    animation-fill-mode: both;
    
    
}

#pptxt{
  display: none;
  color: aliceblue;
  position: absolute;
  display: block;
  font-size: 7vw;
  margin-top: 70vw;
  justify-self: center;
  text-align: center;
  animation: fade;
  animation-duration: 4.5s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}

#fom{
  display: none;
  position: absolute;
  width: 80vw;
  margin-left: 10vw;
  margin-right: 10vw;
  opacity: 0.5;
}

#fom:hover{
  opacity: 1;
}




@keyframes back {
0%{
    margin-left: 26.25vw;
    opacity: 1;
}
50%{
    margin-left: 26.25vw;
    
}

50%{
    margin-left: 55vw;
    transform: rotate(5deg);
}

100%{
    margin-left: 30vw;
    transform: rotate(5deg);
}
    
}     


@keyframes front {
    0% {
      margin-left: 26.25vw;
    }
    50% {
      margin-left:2vw;
      z-index: 1;
    }
    100% {
      margin-left: 20vw;
      transform: rotate(-10deg);
      z-index: 3;
    }
   
    }


@keyframes rotfrnt {
    to{
      transform: rotate(-10deg);
      margin-left: 20vw;
    }

}

@keyframes fade {
  from {
      opacity: 0;
  }
  to {
     opacity: 1;
  }
}


}
