html, body{
    margin-right: auto;
    margin-left: auto;
    background-image: url(bgs.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#logo {
    position: relative;
    padding-top:15% ;
    width: 40%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    animation: none;
    animation-duration: 0;
    animation-fill-mode:none;
}


.intro{
    
    display: block;
    text-align: center;
}

#btn1 {
    margin-top: 0%;
    display: block;
    width: 45%;
    margin-right: auto;
    margin-left: auto;
    transition: 0.3s;

}

#btn1:hover {
  width: 50vw;
}



#btn2 {
    margin-top: -40.5%;
    display: none;
    width: 40%;
    margin-right: auto;
    margin-left: auto;

}

#load{
  width: 8%;
}

#loading {
    position: fixed;
    padding: 0;
    left: 23%;
    display: none;
    animation:spin 1s infinite  ;
}



@keyframes spin { 
   
    to { 
        transform:rotate(180deg); 
        
    } 
  }



@media screen and (max-width:1024px) {
html, body{
    margin-right: auto;
    margin-left: auto;
    padding: 0;

}



#logo {
    position: relative;
    margin-top: 35%;
    padding-top:auto ;
    width: 85%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}


.intro{
    display: block;
    text-align: center;
}

#btn1 {
    margin-top: 0%;
    display: block;
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    transition: 0.3s;

}



#load{
  width: 17%;
}

#loading {
    position: fixed;
    padding: 0;
    left: 1%;
    display: none;
    animation:spin 1s infinite  ;
}



@keyframes spin { 
   
    to { 
        transform:rotate(180deg); 
        
    } 
  }

  
}
